div.overlay-bg
include templates/head
div.wrapper
	section#details(style="background: url('img/polygon.png')")
		div.inf
			.container
				.row
					.inf-block
						.col-xs-12
							div.arrows
								a.nav-link.left(href="") #[i.fa.fa-chevron-left]
						.col-xs-12
							p.details-title 3-я Жемчужина
							p.full-description Третья Жемчужина — жилой комплекс на ул. Архитекторская
							p.full-description Срок сдачи дома #[span 4 квартал 2019 года]
							div.line
						.col-xs-12
							div.arrows.arrows-right
								a.nav-link.right(href="") #[i.fa.fa-chevron-right]
		
		.details-section
			.container
				.details-section-block
					.row
						.col-lg-6.col-md-12.col-sm-12.col-xs-12
							div.owl
								div.owl-carousel
									div.owl-carousel-item.look.im(src="img/first-section-bg1.jpg" style="background: url('img/first-section-bg1.jpg')")
										.search-img.look.in
											i.fa.fa-search
									div.owl-carousel-item.look.im(src="img/first-section-bg2.jpg" style="background: url('img/first-section-bg2.jpg')")
										.search-img.look.in
											i.fa.fa-search
									div.owl-carousel-item.look.im(src="img/first-section-bg3.jpg" style="background: url('img/first-section-bg3.jpg')")
										.search-img.look.in
											i.fa.fa-search
							div.owl-controls
							div.owl-dots
								div.owl-dot.active
								div.owl-dot
								div.owl-dot
					
						.col-lg-6.col-md-12.col-sm-12.col-xs-12
							div.details-description
								p.title Третья Жемчужина — жилой комплекс на ул. Архитекторская
								p.description Жилой комплекс «Третья Жемчужина» просто создан для тех, кто уже давно мечтает изменить к лучшему свои жилищные условия. Традиционное для компании «KADORR Group» европейское качество постройки и обслуживания дома здесь сочетается с более чем доступными ценами, а уникальные архитектурные решения, разработанные специалистами компании с учётом всех особенностей местоположения, выгодно выделят комплекс на фоне остальных зданий.<br>Транспортная развязка позволяет жителям достаточно быстро добраться к любому из деловых центров города, а огромное количество магазинов, торговых центров и социальных объектов создают все условия для комфортной и спокойной жизни.
							div.button-block
								button.button.yellow.modal ЗАКАЗАТЬ ЗВОНОк #[img(src="img/viber-call.png" alt="call")]
								a.white-btn.slowly(href="#plans") Планировки#[i.fa.fa-caret-down]
						
					div.owl-controls
			.container
				.row
					.col-lg-4.col-md-12.col-sm-12.col-xs-12
						div.details-info
							p.details-info-title Цена
							div.line.left
							p.description 1 комн. от 36 м2, цена от 25 000 у.е.<br>2 комн. от 52 м2, цена от 34 000 у.е. <br> 3 комн. от 90 м2, цена от 74 000 у.е.
					.col-lg-4.col-md-12.col-sm-12.col-xs-12
						div.details-info
							p.details-info-title При поэтапной оплате:
							div.line.left
							p.description Условия при поэтапной оплате: первоначальный взнос: 4%, 10%, 25% или 50% окончательный срок платежей: до марта 2019года.
							p.description Условия при рассрочке:<br>2 года – 50% первоначальный взнос <br>Условия при рассрочке:<br>2 года – 50% первоначальный взнос<br>Условия при рассрочке:<br> 2 года – 50% первоначальный взнос<br>На оставшуюся сумму начисляется 9% годовых.
					.col-lg-4.col-md-12.col-sm-12.col-xs-12
						div.details-info
							p.details-info-title Объекты в этом районе
							div.line.left
							div.objects
								a(href='#')
									p.description ЖК "Третья Жемчужина" #[i.fa.fa-chevron-right]
							div.objects
								a(href='#')
									p.description ЖК "Пятая Жемчужина" #[i.fa.fa-chevron-right]
							div.objects
								a(href='#')
									p.description  ЖК "15 Жемчужина" #[i.fa.fa-chevron-right]
						


	section#plans
		h3 Планировки
		p.full-description Секции, типовые этажи, жилые помещения
		div.line
		.container
			div.sections
				.row
					.col-lg-4.col-md-4.col-sm-6.col-xs-12
						div.section-1.im(src="img/sect-1.png", alt="Сертификат")
							div.top-info.in.look
								img.pic.im(src="img/sect-1.png", alt="Сертификат")
								.search-img
									i.fa.fa-search
									div.in.look
							div.bottom-info
								div.block
								p.full-description 1-я секция 001
								p.description Text Text Text Text
								div.bottom
					.col-lg-4.col-md-4.col-sm-6.col-xs-12
						div.section-1.im(src="img/sect-2.png", alt="Сертификат")
							div.top-info.in.look
								img.pic.im(src="img/sect-2.png", alt="Сертификат")
								.search-img
									i.fa.fa-search
							div.bottom-info
								div.block
								p.full-description 2-я секция 001
								p.description Text Text Text Text
								div.bottom
					.col-lg-4.col-md-4.col-sm-6.col-xs-12
						div.section-1.im(src="img/sect-3.png", alt="Сертификат")
							div.top-info.in.look
								img.pic.im(src="img/sect-3.png", alt="Сертификат")
								.search-img
									i.fa.fa-search
							div.bottom-info
								div.block
								p.full-description Общая секция 001
								p.description Text Text Text Text
								div.bottom
					.col-lg-4.col-md-4.col-sm-6.col-xs-12
						div.section-1.im(src="img/sect-4.png", alt="Сертификат")
							div.top-info.in.look
								img.pic.im(src="img/sect-4.png", alt="Сертификат")
								.search-img
									i.fa.fa-search
							div.bottom-info
								div.block
								p.full-description Планировка
								p.description Text Text Text Text
								div.bottom


					.col-lg-4.col-md-4.col-sm-6.col-xs-12
						div.section-1.im(src="img/sect-5.png", alt="Сертификат")
							div.top-info.in.look
								img.pic.im(src="img/sect-5.png", alt="Сертификат")
								.search-img
									i.fa.fa-search
							div.bottom-info
								div.block
								p.full-description 38,96 - 2 секция
								p.description Text Text Text Text
								div.bottom
					.col-lg-4.col-md-4.col-sm-6.col-xs-12
						div.section-1.im(src="img/sect-6.png", alt="Сертификат")
							div.top-info.in.look
								img.pic.im(src="img/sect-6.png", alt="Сертификат")
								.search-img
									i.fa.fa-search
							div.bottom-info
								div.block
								p.full-description 41,95 - 1 секция
								p.description Text Text Text Text
								div.bottom
div#img_container
	img#im(src="")
	a.popup-close(href="#close") &times;
div.popup
	form.my-form
		a.popup-close(href="#close") &times;
		div.input-group
			input(placeholder="Имя Фамилия")
			span
				i.fa.fa-user
		div.input-group
			input(placeholder="Телефон")
			span 
				i.fa.fa-mobile
		button.button Отправить
figure#scroll-top
	a.slowly(href="#header" data-scroll)
		i.fa.fa-chevron-up
include templates/footer