footer
	p.copyright © 2016
	ul.footer-menu
		li
			a(href="") Наши Предложения                              
		li
			a(href="") Карта  
		li
			a(href="") О нас  
		li
			a(href="") Контакты
	script(src="http://code.jquery.com/jquery-2.2.4.min.js")
	script(src="js/jquery.countdown.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/slow-scroll.min.js")
	script(src="https://maps.googleapis.com/maps/api/js")
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBe1cSxjgITh9Rv6GIojJoizjk9Afyxdyg&callback=initMapcallback=initMap&#038;libraries=map")
	script(src="js/app.js")
	

	
	